<img width="200px" src="{{album.album_logo}}" >
<h1> {{ album.album_title }}</h1>
<h3> {{ album.artist }}</h3>
<h4> {{ album.genre }}</h4>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
	{% for song in album.song_set.all %}
		<input type="radio" id="song{{ forloop.counter }}" name="favorite" value="{{ song.id }}"> 
		<label for="song{{ forloop.counter }}">
			{{ song.song_title }}
			{% if song.is_favorite %}
				<strong style="color:yellow;">*</strong>
			{% endif %}
		</label></br>
	{% endfor %}
	</br>
	<input type="submit" name="save" value="Favorite">
</form>